.table tbody {
    display: block;
    overflow-y: auto;
    height: 50vh;
    width: 100%;
}
  
.table thead tr {
    display:block;
}

.table thead th {
    vertical-align: middle;
}

.table th, .table td {
    padding-top: 0%;
    padding-bottom: 0%;
}

.container {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    row-gap: 20px;
}

.naglowek {
    text-align: center;
    width: 100%;
}

.instrukcja {
    width: 100%;
    font-size: small;
}

.form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form_input {
    width: 60%;
    margin-right: 2%;
    border-radius: 10px;
}

.form_submit {
    width: 10%;
}

.tabela_div {
    /* add visibility:hidden if there are no records to show */
    max-width: 100%;
    width: 100%;
}

.tabela {
    max-width: 100%;
    width: 100%;
}

.kolumny {
    background-color: blue;
    color: white;
}

.nazwa_kolumny {
    display: grid;
    grid-template-areas: 
        "a b";
    grid-template-columns: 5fr 1fr;
    grid-column-gap: 5px;
    margin-bottom: 0%;
    padding-bottom: 0%;
    margin-top: 10px;
}

.triangles {
    grid-area: b;
    display: grid;
    grid-template-areas:
        "up"
        "down";
    padding-bottom: 15px;
}

.tytul_kolumny {
    grid-area: a;
    text-align: center;
    align-self: center;
    font-size: x-small;
}

.button_triangle_up {
    grid-area: up;
    align-self:flex-end;
    max-width: 10px;
}

.button_triangle_down {
    grid-area: down;
    align-self: flex-start;
    max-width: 10px;
}